
services:
  n8n:
    image: n8nio/n8n:2.8.3@sha256:53004142b0e93de1e9e31943e601ed9bd4b24ca82a307864ccadf1820b627e5e
    restart: unless-stopped
    ports:
      - "${N8N_PORT}:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_HOST=${N8N_HOST}
      - WEBHOOK_TUNNEL_URL=${N8N_TUNNEL_URL}
      - N8N_PORT=${N8N_PORT}
    # Add other environment variables as needed, e.g., for database connection
    # - DB_TYPE=
    # - DB_POSTGRESDB_HOST=
    # - DB_POSTGRESDB_DATABASE=
    # - DB_POSTGRESDB_USER=
    # - DB_POSTGRESDB_PASSWORD=
    volumes:
      - ./data:/home/node/.n8n