
services:
  n8n:
    image: n8nio/n8n:2.10.2@sha256:cfa50544c4cc172506834da1ec9bb5171db55958c8d1918205df0bda237a56f4
    restart: unless-stopped
    ports:
      - "${N8N_PORT}:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_HOST=${N8N_HOST}
      - WEBHOOK_TUNNEL_URL=${N8N_TUNNEL_URL}
      - N8N_PORT=${N8N_PORT}
    # Add other environment variables as needed, e.g., for database connection
    # - DB_TYPE=
    # - DB_POSTGRESDB_HOST=
    # - DB_POSTGRESDB_DATABASE=
    # - DB_POSTGRESDB_USER=
    # - DB_POSTGRESDB_PASSWORD=
    volumes:
      - ./data:/home/node/.n8n