
services:
  n8n:
    image: n8nio/n8n:2.8.1@sha256:893cfe024fc3eff638be14565b0992dba1021108ec5b3069ba9eb1a57766d183
    restart: unless-stopped
    ports:
      - "${N8N_PORT}:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_HOST=${N8N_HOST}
      - WEBHOOK_TUNNEL_URL=${N8N_TUNNEL_URL}
      - N8N_PORT=${N8N_PORT}
    # Add other environment variables as needed, e.g., for database connection
    # - DB_TYPE=
    # - DB_POSTGRESDB_HOST=
    # - DB_POSTGRESDB_DATABASE=
    # - DB_POSTGRESDB_USER=
    # - DB_POSTGRESDB_PASSWORD=
    volumes:
      - ./data:/home/node/.n8n