
services:
  n8n:
    image: n8nio/n8n:1.123.20@sha256:f77980ed7a8d0cf324374f18a5b96ce3ed67df03bade7409db8a76da1b7f5126
    restart: unless-stopped
    ports:
      - "${N8N_PORT}:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_HOST=${N8N_HOST}
      - WEBHOOK_TUNNEL_URL=${N8N_TUNNEL_URL}
      - N8N_PORT=${N8N_PORT}
    # Add other environment variables as needed, e.g., for database connection
    # - DB_TYPE=
    # - DB_POSTGRESDB_HOST=
    # - DB_POSTGRESDB_DATABASE=
    # - DB_POSTGRESDB_USER=
    # - DB_POSTGRESDB_PASSWORD=
    volumes:
      - ./data:/home/node/.n8n