
services:
  runner:
    image: gitea/act_runner:0.3.0@sha256:8368754bb612a1deb07ed604e3b955338aefc01576d4d0d92e8dd82f29250fcd
    container_name: gitea-runner
    restart: unless-stopped
    volumes:
      - ./data:/data # Persistent storage for runner data
      - /var/run/docker.sock:/var/run/docker.sock # Mount Docker socket for DooD (Docker out of Docker)
    environment:
      - GITEA_INSTANCE_URL=${INSTANCE_URL}
      - GITEA_RUNNER_REGISTRATION_TOKEN=${REGISTRATION_TOKEN}
      - GITEA_RUNNER_NAME=${RUNNER_NAME}
      - GITEA_RUNNER_LABELS=${RUNNER_LABELS} # The labels of a runner are used to determine which jobs the runner can run, and how to run them.