
services:
  server:
    image: gitea/gitea:1.25.4@sha256:17d18218be2dad1f8ed402a4f906989505c90ab8b66ee9befcecfb5d470133e7
    container_name: gitea
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__server__ROOT_URL=http://localhost:3000
    volumes:
      - gitea_data:/data
    ports:
      - "3000:3000"   # Web interface
      - "222:22"      # SSH access
    networks:
      - gitea-net

volumes:
  gitea_data:

networks:
  gitea-net:
    driver: bridge