
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
    container_name: homepage
    volumes:
      - ./config:/app/config  # You can adapt the path to whatever suits you.
      - /var/run/docker.sock:/var/run/docker.sock  # optional: enables Docker integration
    ports:
      - 3000:3000
    restart: unless-stopped