
services:
  filebrowser:
    image: filebrowser/filebrowser:v2.61.0@sha256:9ebcbf84ab4be44e915f2643df9a1c9b9616cd02b72be3f7735cf94e253da3f2
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8084:80"
    volumes:
      - /opt/selfhost/data:/srv  # Replace with the folder you want to browse
      - filebrowser_config:/config

volumes:
  filebrowser_config: