
services:
  filebrowser:
    image: filebrowser/filebrowser:v2.57.1@sha256:6ef368f5a0730ee1638886e4b77a94503fcc302569f7d2ae980b23d59072a700
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8084:80"
    volumes:
      - /opt/selfhost/data:/srv  # Replace with the folder you want to browse
      - filebrowser_config:/config

volumes:
  filebrowser_config: