
services:
  portainer:
    image: portainer/portainer-ce:2.38.1@sha256:f5e67fe8447aae9f0322ab278b97a3879a16007724f8b239174f2db31b0753e9
    container_name: portainer
    restart: unless-stopped
    ports:
      - "9443:9443"  # HTTPS UI
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data: