
services:
  app:
    image: jc21/nginx-proxy-manager:2.14.0@sha256:2aa69b382a384b676c0d4f1d6f2eac40ecd478fcf7af1cfb3f9f1d3cd0c81e12
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "${NPM_HTTP_PORT}:80"
      - "${NPM_HTTPS_PORT}:443"
      - "${NPM_UI_PORT}:81"
    environment:
      - DB_TYPE=postgres
      - DB_PG_HOST=postgres
      - DB_PG_PORT=5432
      - DB_PG_NAME=${POSTGRES_DB}
      - DB_PG_USER=${POSTGRES_USER}
      - DB_PG_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=${TZ}
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    depends_on:
      - postgres
    networks:
      - proxy_network

  postgres:
    image: postgres:15@sha256:dafc4d8e8369da730a5ee9a320a0f0b3c6aa516f41244689c4493a27dc84472d
    container_name: nginx-proxy-manager-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - npm_postgres_data:/var/lib/postgresql/data
    networks:
      - proxy_network

volumes:
  npm_data:
  npm_letsencrypt:
  npm_postgres_data:

networks:
  proxy_network:
    driver: bridge