
services:
  app:
    image: jc21/nginx-proxy-manager:2.13.7@sha256:3c5acf6bc3125079906078d0cacec59130018bb32ed64092f7ce495edc68c5ec
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "${NPM_HTTP_PORT}:80"
      - "${NPM_HTTPS_PORT}:443"
      - "${NPM_UI_PORT}:81"
    # - "${NPM_FTP_PORT}:21" # FTP_PORT is optional, uncomment if needed
    environment:
      - DB_MYSQL_HOST=db
      - DB_MYSQL_PORT=3306
      - DB_MYSQL_USER=${MYSQL_USER}
      - DB_MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - DB_MYSQL_NAME=${MYSQL_DATABASE}
      - TZ=${TZ}
    # Uncomment this if IPv6 is not enabled on your host
    # - DISABLE_IPV6='true'
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    depends_on:
      - db
    networks:
      - proxy_network

  db:
    image: mariadb:10.11@sha256:8d9046cdb0b0961b3d2119bcb4bea62a185f11944be5968bc42b81d47801902e
    container_name: nginx-proxy-manager-db
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - npm_db:/var/lib/mysql
    networks:
      - proxy_network

volumes:
  npm_data:
  npm_letsencrypt:
  npm_db:

networks:
  proxy_network:
    driver: bridge